.oval {
	  height: 60px;
	  width: 700px;
	  background-color: #3498DB;
	  border-radius: 50%;
	  position: relative;
	  left: 200px;
	}
.heading {
		position: relative;
		top: 20px;
		color: #FDFEFE;
	}
body {
		background-color: #D5F5E3;
	}